body {
    background: linear-gradient(45deg, #1d1d1d, #242424);
    overflow: hidden;
}

.container {
    position: absolute;
    left: 25%;
    width: 50%;
    height: 50%;
}

.logo {
    width: 40%;
    height: 40%;
    left: 180px;
    top: 20px;
    position: absolute;
    display: grid;
}

img:hover {
   box-shadow: 15px 10px 30px rgba(5, 5, 5, 0.493);
}

.text {
    position: absolute;
    color: aliceblue;
    font-family: Segoe UI, Segoe UI Midlevel, Segoe WP, Arial, sans-serif;
    font-size: 40px;
    font-weight: 900;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.26);
    line-height: 1.1;
    top: 350px;
    left: 30.25%;
    size: 100px;
}

.text2 {
    position: absolute;
    color: aliceblue;
    width: 100px;
    text-align: right;
    white-space: nowrap;
    font-family: Segoe UI, Segoe UI Midlevel, Segoe WP, Arial, sans-serif;
    font-size: 50px;
    font-weight: 900;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.26);
    line-height: 1.1;
    top: 500px;
    left: -40%;
    size: 100px;
}

.profiles-container {
    position: absolute;
    color: aliceblue;
    text-align: center;
    width: 1300px;
    font-family: Segoe UI, Segoe UI Midlevel, Segoe WP, Arial, sans-serif;
    font-size: 25px;
    font-weight: 300;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.26);
    line-height: 1.1;
    left: -300px;
    top: 425px;
    size: 100px;
}
